@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6 style="color:blue">[Electric G] Hệ thống quản lý kho vật tư. Trước tiên hãy đăng nhập! </h6>
</div>
